# ========================================
#   RAHASIA LOKAL
#   (jangan pernah di-commit / di-push)
# ========================================

.env

# ========================================
#   FILE SISTEM OPERASI
# ========================================

.DS_Store
Thumbs.db
